
# Ignore log files
*.log

# Ignore node_modules in the frontend folder
/frontend/node_modules/

# Ignore the .venv file in the main folder
.venv

# Ignore .idea folder
.idea/

# Ignore .vscode folder
.vscode/

# Ignore allfiles.txt
allfiles.txt
