.user_navbar{
    height: 60px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    }
    .dabba{
        width: 40px;
    }
button{
    padding-right:2px ;
}
.dropdown-content {
    top: 100%;
    margin-top: 2px;
  }
  
.hidden-radio {
    display: none;
  }