{% extends 'hod_template/base_template.html' %}
{% block page_title %}
Edit Assignment | Assignment ID : {{ assignment.id }}
{% endblock page_title %}
{% block main_content %}
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Edit Assignment</h3>
          </div>
          <form role="form" action="/edit_assign_save" method="post">
              {% csrf_token %}
            <div class="card-body">
              <div class="form-group">
                <label>Staff</label>
                <select class="form-control" name="staff">
                    {% for staff in staffs %}
                      <option value="{{ staff.id }}" {% if staff.id == assignment.staff.id %} selected {% endif %}>{{ staff.first_name }} {{ staff.last_name }}</option>
                    {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label>Branch</label>
                <select class="form-control" name="branch">
                    {% for branch in branches %}
                      <option value="{{ branch.id }}" {% if branch.id == assignment.branch.id %} selected {% endif %}>{{ branch.name }}</option>
                    {% endfor %}
                </select>
              </div>
              <div class="form-group">
                  {% if messages %}
                    {% for message in messages %}
                    {% if message.tags == 'error' %}
                    <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                    {% endif %}
                    {% if message.tags == 'success' %}
                    <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                    {% endif %}
                    {% endfor %}
                  {% endif %}
                </div>
            </div>
            <div class="card-footer">
              <button type="submit" class="btn btn-primary btn-block">Save Assignment</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock main_content %}
